@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Roboto', sans-serif;
}

p {
    margin-bottom: 0.2rem !important;
}

.background {
    background-color: #121212;
    color: #fff;
}

.speech {
    position: fixed;
    bottom: 0%;
    width: 100%;
    opacity: 1;
    right: 0%;
}

.important {
    font-size: 3.5em;
    font-weight: 300;
}

.important-symbol {
    font-size: 5em;
    font-weight: 300;
    text-align: center;
}

.subtitle {
    font-size: 0.75em;
    font-weight: 300;
}

.box-heading-big {
    font-size: 1.5em;
    font-weight: 300;
}

.box-heading {
    font-size: 1.5em;
    font-weight: 300;
    padding: 0.25rem 0rem 0.1rem 0rem
}

.weatherIcon {
    font-size: 2rem;
}

.lightIcon {
    font-size: 2em;
}

.speechIcon {
    font-size: 2em;
}

.card-1 {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.05);
    border-color: none;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    padding-bottom: 0.5rem;
    padding-top: 0.3rem;
}

    .card-1:hover {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }

    .card-1 a:link, .card-1 a:visited {
        color: #fff;
    }

.card-2 {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.card-3 {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.card-4 {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-5 {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.bring-item {
    padding-left: 20px;
    word-break: break-word;
    border: 1px solid white;
    margin-left: 0.2em;
    margin-right: 0.2em;
    padding: 0.5em;
}

/*
Elevation level	White overlay
transparency
00dp	0%
01dp	5%
02dp	7%
03dp	8%
04dp	9%
06dp	11%
08dp	12%
12dp	14%
16dp	15%
24dp	16%
*/



.btn-circle.btn-sm {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    font-size: 8px;
    text-align: center;
}

.btn-circle.btn-md {
    width: 50px;
    height: 50px;
    padding: 7px 10px;
    border-radius: 25px;
    font-size: 10px;
    text-align: center;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 12px;
    text-align: center;
}

.small {
    font-size: 12px;
    font-weight: bold;
}


app {
    position: relative;
    display: flex;
    flex-direction: column;
}

.top-row {
    height: 3.5rem;
    display: flex;
    align-items: center;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

@media (max-width: 767.98px) {
    .main .top-row:not(.auth) {
        display: none;
    }

    .main .top-row.auth {
        justify-content: space-between;
    }

    .main .top-row a, .main .top-row .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 768px) {
    app {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .main .top-row {
        position: sticky;
        top: 0;
    }

    .main > div {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }

    .navbar-toggler {
        display: none;
    }

    .sidebar .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
