
<div class="container-fluid">
    <div class="row card-1">
        <div class="col-12">
            <span class="important">@DateTime.Now.ToString("HH:mm:ss")</span><br />
            <span>@DateTime.Now.ToString("ddd, dd.MM.yy"), KW @KW</span>
        </div>
    </div>
</div>
<br />

@code  {
    private string Time { get; set; }
    private int KW { get; set; }

    protected override void OnInitialized()
    {
        System.Globalization.CultureInfo ci = new System.Globalization.CultureInfo("de-DE");
        KW = ci.Calendar.GetWeekOfYear(DateTime.Now, System.Globalization.CalendarWeekRule.FirstFourDayWeek, DayOfWeek.Monday);
        var timer = new System.Threading.Timer((_) =>
        {
            Time = DateTime.UtcNow.ToString();
            InvokeAsync(() =>
            {
                try
                {
                    StateHasChanged();
                }
                catch (ObjectDisposedException)
                {
                }
            });
        }, null, 0, 1000);

        base.OnInitialized();
    }
}
