<div class="container-fluid" style="font-size: 0.9rem">
    <br />
    <div class="row">
        <div class="col-lg-4 col-sm-12">
            <Clock Show="true"></Clock>
            <Profile ProfileName="@Profile" Show="false"></Profile>
            <Speech Show="true" VoiceOutput="true"></Speech>
            <Calendar NumberOfDays="5" Show="true"></Calendar>
            <Bundesliga Show="false"></Bundesliga>
            <Vvs Limit="5" Filter="new int[] { 0, 1 }" Show="true"></Vvs> @*add 5 for bus*@
            <Fitbit Show="false"></Fitbit>
            <Bring Show="true"></Bring>
            <GermanQuote Show="false"></GermanQuote>
            <RouteTraffic Show="true"></RouteTraffic>
        </div>
        <div class="col-lg-4">
            <News RefreshIntervalSeconds="30" Show="false"></News>
        </div>
        <div class="col-lg-4">
            <CurrentWeather NumberOfDays="5" Show="true"></CurrentWeather>
            <Fuel Limit="5" Show="true"></Fuel>
            <Spotify Show="true"></Spotify>
            <HueLights Show="false"></HueLights>
            <Space Show="false"></Space>
        </div>
    </div>
</div>

@code {
    [CascadingParameter(Name = "Profile")] protected string Profile { get; set; }
}