<div class="container-fluid" style="font-size: 0.9rem">
    <br />
    <div class="row">
        <div class="col-lg-4 col-sm-12">
            <Clock></Clock>
            <Profile ProfileName="@Profile"></Profile>
            <Speech></Speech>
            <Calendar NumberOfDays="5"></Calendar>
            @*<Fitbit></Fitbit>*@
            @*@if (
      (DateTime.UtcNow.DayOfWeek == DayOfWeek.Friday
   || DateTime.UtcNow.DayOfWeek == DayOfWeek.Saturday
   || DateTime.UtcNow.DayOfWeek == DayOfWeek.Sunday))
            {
                <Bundesliga></Bundesliga>
            }*@
            <Bring></Bring>
            @*<GermanQuote></GermanQuote>*@
        </div>
        <div class="col-lg-4">
            <News RefreshIntervalSeconds="30"></News>
            @*<ChuckNorrisJokes></ChuckNorrisJokes>*@
            @*<StockData Symbol="FRA:AMZ"></StockData>*@
        </div>
        <div class="col-lg-4">
            <CurrentWeather NumberOfDays="5"></CurrentWeather>
            <Spotify></Spotify>
            <HueLights></HueLights>
            @*<Space></Space>*@
        </div>
    </div>
</div>

@code {
    [CascadingParameter(Name = "Profile")] protected string Profile { get; set; }
}