@using Microsoft.AspNetCore.Components.Authorization

<div class="container-fluid" style="font-size: 0.9rem">
    <br />
    <div class="row">
        @*add 5 for bus on VVS*@
        <CascadingValue Value="User" Name="User">
                <Layout_mid></Layout_mid>
        </CascadingValue>
    </div>
</div>

@code {
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }
    private System.Security.Claims.ClaimsPrincipal User { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var authState = await authenticationStateTask;
        User = authState.User;
    }
}