<div class="container-fluid" style="font-size: 0.9rem">
    <br />
    <div class="row">
        <div class="col-lg-4 col-sm-12">
            <Clock Show="true"></Clock>
            <Profile ProfileName="@Profile" Show="false"></Profile>
            <Speech Show="true"></Speech>
            <Calendar NumberOfDays="5" Show="true"></Calendar>
            <Fitbit Show="true"></Fitbit>
            @if (
      (DateTime.UtcNow.DayOfWeek == DayOfWeek.Friday
   || DateTime.UtcNow.DayOfWeek == DayOfWeek.Saturday
   || DateTime.UtcNow.DayOfWeek == DayOfWeek.Sunday))
            {
                <Bundesliga Show="false"></Bundesliga>
            }
            <Bring Show="true"></Bring>
            <GermanQuote></GermanQuote>
            <RouteTraffic Show="true"></RouteTraffic>
        </div>
        <div class="col-lg-4">
            <News RefreshIntervalSeconds="30"></News>
            <ChuckNorrisJokes></ChuckNorrisJokes>
            <StockData Symbol="FRA:AMZ"></StockData>
        </div>
        <div class="col-lg-4">
            <CurrentWeather NumberOfDays="5" Show="true"></CurrentWeather>
            <Spotify Show="true"></Spotify>
            <HueLights Show="true"></HueLights>
            <Space Show="true"></Space>
        </div>
    </div>
</div>

@code {
    [CascadingParameter(Name = "Profile")] protected string Profile { get; set; }
}