<div class="container-fluid" style="font-size: 0.9rem">
    <br />
    <div class="row">
        <div class="col-lg-3 col-sm-12">
            <Clock></Clock>
            <Calendar></Calendar>
            <Vvs></Vvs>
            <RouteTraffic></RouteTraffic>
        </div>
        <div class="col-lg-6">
            <News RefreshIntervalSeconds="30"></News>
            <Bring></Bring>
            <Bundesliga></Bundesliga>
        </div>
        <div class="col-lg-3">
            <CurrentWeather NumberOfDays="5"></CurrentWeather>
            <Spotify></Spotify>
            <HueLights></HueLights>
            <Fuel Limit="5"></Fuel>
            @*<Space Show="true"></Space>*@
            <Fitbit></Fitbit>
            <GoogleFit User="Lukas"></GoogleFit>
            <GoogleFit User="Alisa"></GoogleFit>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-sm-12">
            <Speech></Speech>
        </div>
    </div>
</div>

@code {
    [CascadingParameter(Name = "Profile")] protected string Profile { get; set; }
}