@using Microsoft.AspNetCore.Components.Authorization

<div class="container-fluid" style="font-size: 0.9rem">
    <br />
    <div class="row">
        @*add 5 for bus on VVS*@
        <CascadingValue Value="this" Name="LayoutRazor">
            <CascadingValue Value="Profile" Name="Profile">
                @if (Profile == "morgens")
                {
                    <Layout_morning></Layout_morning>
                }
                else if (Profile == "mittags")
                {
                    <Layout_mid></Layout_mid>
                }
                else if (Profile == "abends")
                {
                    <Layout_evening></Layout_evening>
                }
                else if (Profile == "spiegel")
                {
                    <Layout_spiegel></Layout_spiegel>
                }
            </CascadingValue>
        </CascadingValue>
    </div>
</div>

@code {
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }

    [CascadingParameter]
    private static string Profile { get; set; } = GetInitialProfile();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var authState = await authenticationStateTask;
        var user = authState.User;
    }

    public void SetProfile(string profile)
    {
        Profile = profile;
        InvokeAsync(() => { StateHasChanged(); });
    }

    private static string GetInitialProfile()
    {
        var currentHour = DateTime.UtcNow.Hour;
        if (currentHour >= 0 && currentHour < 11)
        {
            return "morgens";
        }
        else if (currentHour >= 11 && currentHour < 17)
        {
            return "mittags";
        }
        else if (currentHour >= 17 && currentHour < 24)
        {
            return "abends";
        }
        else
        {
            return "spiegel";
        }
    }
}