@using Microsoft.Extensions.Logging;
@using SmartMirror.Data.Speech;
@using SmartMirror.Data.WeatherForecast;
@using SmartMirror.Data.Fuel;
@using SmartMirror.Data.Bring;
@using SmartMirror.Data.Calendar;
@using SmartMirror.Data.Spotify;

@inject IJSRuntime JSRuntime
@inject SpeechRecognitionService SpeechService
@inject ILogger<Speech> Logger

@inject WeatherState WeatherState
@inject FuelState FuelState
@inject BringState BringState
@inject CalendarState CalendarState
@inject SpotifyState SpotifyState

<div class="container-fluid card-1 speech">
    <div class="row">
        <!-- display larger (click events) -->
        <div class="col-xl-1 d-none d-lg-block">
            @*<input type="button" class="btn btn-md btn-circle btn-secondary" onmousedown="startRecognition()" onmouseup="stopRecognition()" value="Voice" />*@
            <img id="speechStatusImageWeb" src="/icons/speech/@_symbol" width="25" height="25" />
        </div>
        <!-- only display on mobile (touch events) -->
        <div class="col-2 d-lg-none">
            @*<input type="button" class="btn btn-md btn-circle btn-secondary" ontouchstart="startRecognition()" ontouchend="stopRecognition()" value="Voice" />*@
            <img id="speechStatusImageMobile" src="/icons/speech/@_symbol" width="25" height="25" />
        </div>
        <div id="speechContainer" class="col-8 col-xl-8 overflow-auto">
            <span id="speechTextOutput" style="display: none;"></span><span>@_output</span>
        </div>
        <div class="col-xl-3 d-none d-lg-block">
            <span><img src="/icons/status/weather.png" width="15" height="15" style="filter: invert(@weatherDisplay%);" /></span>
            <span><img src="/icons/status/fuel.png" width="15" height="15" style="filter: invert(@fuelDisplay%);" /></span>
            <span><img src="/icons/status/bring.png" width="15" height="15" style="filter: invert(@bringDisplay%);" /></span>
            <span><img src="/icons/status/calendar.png" width="15" height="15" style="filter: invert(@calendarDisplay%);" /></span>
            <span><img src="/icons/status/spotify.png" width="15" height="15" style="filter: invert(@spotifyDisplay%);" /></span>
        </div>
    </div>
</div>
<br />

@code {
    [Parameter]
    public bool VoiceOutput { get; set; }

    private string _symbol { get; set; } = "silent.png";
    private string _output { get; set; }

    int weatherDisplay;
    int fuelDisplay;
    int bringDisplay;
    int calendarDisplay;
    int spotifyDisplay;

    private static Func<string, Task> action;

    protected override void OnInitialized()
    {
        SetIcons();
        action = ValidateSpeechInput;
    }

    private async Task ValidateSpeechInput(string speechInput)
    {
        Logger.LogInformation("Validating {speechInput}.", speechInput);
        var recognitionResponse = await SpeechService.ValidateSpeechInputAsync(speechInput);
        _output = $" ({recognitionResponse.TopIntent})";

        if (VoiceOutput)
        {
            await JSRuntime.InvokeVoidAsync("speak", recognitionResponse.VoiceResponse);
        }

        SetIcons();
        await InvokeAsync(() => StateHasChanged());
    }

    [JSInvokable("SetSpeechInputCaller")]
    public static void SetSpeechInputCaller(string speechInput)
    {
        // This is async
        action.Invoke(speechInput);
    }

    private void SetIcons()
    {
        weatherDisplay = WeatherState.Enabled ? 100 : 50;
        fuelDisplay = FuelState.Enabled ? 100 : 50;
        bringDisplay = BringState.Enabled ? 100 : 50;
        calendarDisplay = CalendarState.Enabled ? 100 : 50;
        spotifyDisplay = SpotifyState.Enabled ? 0 : 50;
    }
}